<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990612376443-62rp9uqcqj2cjo840b7g5101e8oas5h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990612376443-62rp9uqcqj2cjo840b7g5101e8oas5h3</string>
	<key>API_KEY</key>
	<string>AIzaSyAguPvg4VeRpUmmFxDHBwQOtwS2Qy_hQ_s</string>
	<key>GCM_SENDER_ID</key>
	<string>990612376443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asdkasdkaskdkaskdaskdak.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-d0fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-d0fbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990612376443:ios:97cf2e7fb70b1d27bf8bde</string>
</dict>
</plist>